.site-footer {
    height: 374px;
}
.footer-container {
    padding: 100px 80px;
    display: flex;
    justify-content: space-between;
}

.footer-title-wrapper {
    width: 280px;
    height: 129px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-title {
    font-size: 24px;
    font-weight: 700;
}
.footer-description {
    display: flex;
    gap: 16px;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    color: #9e9e9e;
}

.footer-links-wrapper {
    width: 150px;
    height: 174px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-links-wrapper p {
    font-weight: 600;
    font-size: 16px;
    color: #424242;
}
.footer-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #9e9e9e;
}
