.services-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}
.service-card {
    width: 350px;
    height: 258px;
    border: 2px solid #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.service-card-content p:nth-child(2){
    font-size: 20px;
    font-weight: 700;
    color: #424242;
}
.service-card-content p:nth-child(3){
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
}
.service-card-content img {
    height: 36px;
    width: 36px;
}
#services{
    height: 954px;
}
.services-card-container .service-card:nth-child(2){
    background-color: #FF8D41;
    color: white;
}
.service-card:nth-child(2) .service-card-content p{
    color:white
}