* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/images/Home\ Screen.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.site-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 80px 80px 80px;
    padding-top: 50px;
    color: white;
}

.login-btn {
    background: transparent;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    gap: 24px;
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
}

.nav-list a {
    text-decoration: none;
    color: white;
}
.banner {
    font-size: 2.34vw;
    font-weight: 700;
}

.hero {
    margin-left: 80px;
    /* padding-top: 250px; */
    color: white;
    width: 40%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}
.hero p:nth-child(1) {
    font-size: 1.7vw;
    font-weight: 600;
}
.hero h1 {
    font-size: 4.16vw;
}
.hero-btn-grp {
    color: white;
    display: flex;
    gap: 12px;
}
.book {
    background-color: #ff8d41;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.explore {
    background-color: transparent;
    border: white solid 1.5px;
    padding: 12px 24px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.container {
    width: 1292px;
    margin: auto;
    padding: 90px 15px;
    max-width: 100%;
}
.stay-span {
    color: #ff8d41;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title hr {
    width: 30px;
    height: 0px;
}
.section-title p {
    font-size: 16px;
    font-weight: 600;
    color: #616161;
    padding: 0px 5px;
    text-align: center;
}
.hamburger {
    display: none;
}
@media (max-width: 1024px) {
    .hero p:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
    }
    .hero h1 {
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    .nav-list {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero {
        width: 68%;
    }
    .banner {
        font-size: 20px;
        font-weight: 700;
    }
    
}
@media (max-width: 520px) {
    .login-btn {
        font-size: 16px;
    }
    .hero h1 {
        font-size: 18px;
    }
    .hero {
        margin-left: 40px;
    }
    .hero p:nth-child(1) {
        font-size: 12px;
        font-weight: 600;
    }
    .book {
        padding: 6px 12px;
        font-size: 12px;
    }
    .explore {
        padding: 6px 12px;
        font-size: 12px;
    }
    
    .site-header {
        margin: 0 40px 40px 40px;
    }
    .hamburger {
        display: inline;
        height: 24px;
        width: 24px;
    }
    .login-btn {
        display: none;
    }
}
