* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


#home{
    height: 100vh;
    background-image: url("/assets/images/Home\ Screen.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 80px 80px;
    padding-top: 50px;
    color: white;
}

.login-btn {
    background: transparent;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    gap: 24px;
    font-size: 18px;
    font-weight: 600;
    list-style-type: none;
}
.nav-list a:visited {
    
}
.nav-list a {
    text-decoration: none;
    color: white;
}
.banner {
    font-size: 36px;
    font-weight: 700;
}

.hero {
    margin-left: 80px;
    /* padding-top: 250px; */
    color: white;
    width: 605px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
}
.hero p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}
.hero h1 {
    font-size: 64px;
}
.hero-btn-grp {
    color: white;
    display: flex;
    gap: 12px;
}
.book {
    background-color: #ff8d41;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}
.explore {
    background-color: transparent;
    border: white solid 1.5px;
    padding: 12px 24px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.container {
    width: 1292px;
    margin: auto;
    padding: 90px 15px 0px 15px;
}
.stay-span {
    color: #ff8d41;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title hr {
    width: 30px;
    height: 0px;
}
.section-title p {
    font-size: 16px;
    font-weight: 600;
    color: #616161;
    padding: 0px 5px;
    text-align: center;
}
