.testimonial-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.testimonial-card {
    width: 298px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.testimonial-card img {
    width: 30px;
    height: 30px;
}

.testimonial-card p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    width: 250px;
    height: 66px;
}
.testimonial-card p:nth-child(3) {
    font-size: 16px;
    font-weight: 600;
    color: #424242;
    padding-top:10px ;
}
.testimonial-card p:nth-child(4) {
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
}
#testimonial{
    height: 608px;
}
